body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.img{
  margin-left:auto;
  margin-right: auto;
}

.message{
  display: flex;
  text-align: left;
  padding: 30px;
}
.msg_info{
  padding-bottom: 6px;
}
.sender{
  padding-left: 10px;
  left: 0;
}
.p_num{
  padding-left: 10px;
  width:40%;
}
.when{
  padding-right: 10px;
  float: right;
  right: 0;
}
.login-btn{
  border: 1px solid;
  border-radius: 5px;
}
.msg {
  background: #CCFFFF;
  margin-left: 10px;
  margin-right: 10px;
  border: 4px solid #003399;
  border-top: 2px solid #003399;
  border-bottom: 2px solid #003399;
}
.container{
  margin:3px;

}
.toggle {
  background:#99CCFF;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  padding: 5px;
  margin: 10px;
  border-radius: 20px;
}
.toggle-btn {
  display:inline-flex;
  border: 0px solid;
  border-radius: 30px;
  padding:10px;
  margin: 10px;
}

.active {
  background: #6699CC;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  border: 8px solid #ff8e8e; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  height: 50px;
  width: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.3) rotate(180deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}